.services-container {
    height: 929px;
    display: flex;
    flex-direction: column;
    padding: 60px 30px;
    gap: 40px;
    max-width: 80%;
    /* background-color: red; */
}

.services-container .title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services-container .title h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    columns: #aaa;
}

.services-container .title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background-color: #ffde9c;
    margin: 4px 10px;
}

.services-container .title p {
    font-size: 36px;
    font-weight: 700;
    color: #151515;
    text-align: justify;
}

.services-container .services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1200px) {
    .services-container {
        height: 929px;
        display: flex;
        flex-direction: column;
        padding: 60px 20px;
        gap: 30px;
        max-width: 80%;
    }

    .services-container .services {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 900px) {
    .services-container .title p {
        font-size: 28px;
    }
}