.portfolios-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 60px 30px;
    gap: 40px;
    margin-bottom: 20px;
}

.portfolios-container .title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.portfolios-container .title h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    columns: #aaa;
}

.portfolios-container .title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background-color: #ffde9c;
    margin: 4px 10px;
}

.portfolios-container .title p {
    font-size: 36px;
    font-weight: 700;
    color: #151515;
    text-align: justify;
}

.portfolios-container .btns ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.portfolios-container .btns ul li {
    cursor: pointer;
    text-decoration: none;
    color: #444;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: .3s;
}

.portfolios-container .btns ul li:hover,
.portfolios-container .btns ul li.active {
    color: #000;
    background-color: #ffc451;
    transition: .3s;
}

.portfolios-container .portfolios {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px 20px;
}